/* ==UserStyle==
@name         Google Docs - Dark Mode Title Fix
@version      20260406.13.52
@namespace    github.com/ancandi
@description  userstyle/css to fix title duplication for ://flags `force-dark-mode`
@author       ancandi
@license      MIT
==/UserStyle== */

@-moz-document domain("docs.google.com") {
	.docs-title-input {
	    color: transparent !important; 
	}
	.docs-title-input:focus {
	    color: inherit !important;
	}
}
